* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "General Sans", sans-serif;
  font-weight: 500;
}

header {
  border-bottom: 1px solid rgba(184, 184, 184, 0.514);
  height: 88px;
}
header .central {
  height: 100%;
}
header .navbar {
  height: 100%;
  display: flex;
  align-items: center;
}
header .navbar .logo {
  display: flex;
  justify-content: center;
}
header .navbar .logo a img {
  width: 130px;
}
header .navbar .links {
  display: flex;
  justify-content: center;
}
header .navbar .links ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0;
}
header .navbar .links ul li {
  list-style-type: none;
}
header .navbar .links ul li a {
  font-size: 16px;
  color: black;
}
header .navbar .nav-button {
  display: flex;
  justify-content: center;
}
header .navbar .nav-button a button {
  width: 133px;
  height: 52px;
  border-radius: 70px;
  background-color: #3461ff;
  border: 0px;
  color: white;
  line-height: 20px;
}

.hero-section {
  height: 850px;
}
.hero-section .box {
  height: 100%;
  margin-top: 84px;
}
.hero-section .box .inside-section {
  display: flex;
}
.hero-section .box .inside-section .left-side {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
}
.hero-section .box .inside-section .left-side .mail-link {
  display: flex;
  gap: 0.5cm;
}
.hero-section .box .inside-section .left-side .mail-link button {
  background-color: #3461ff;
  width: 146px;
  height: 64px;
  border-radius: 70px;
  border: 0px;
  color: white;
  font-size: 18px;
  line-height: 20px;
}
.hero-section .box .inside-section .left-side .mail-link .mail-input input {
  width: 336px;
  height: 64px;
  border-radius: 37px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.hero-section .box .inside-section .left-side h1 {
  font-weight: 600;
  font-size: 96px;
  line-height: 98.5px;
  letter-spacing: -4px;
  width: 90%;
  color: black;
}
.hero-section .box .inside-section .left-side span {
  font-size: 20px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.6);
}
.companies-box {
  background-color: #fafafa;
  height: 552px;
}
.companies-box .companies-text {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies-box .companies {
  display: flex;
  flex-direction: column;
}
.companies-box .companies .companies-list {
  width: 100%;
}
.companies-box .companies .companies-list ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.com {
  height: 536px;
  margin-top: 100px;
}
.com-box-left {
  display: flex;
  justify-content: space-evenly;
}
.com-box-left-one h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 86.4px;
  color: rgb(11, 11, 11);
}
.com-box-left-one span {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.com-box-left-second h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 86.4px;
  color: rgb(11, 11, 11);
}
.com-box-left-second span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.com-box-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.com-box-right-text {
  width: 576px;
}
.com-box-right-text h1 {
  font-size: 64px;
  letter-spacing: -1px;
  color: rgb(0, 0, 0);
}
.com-box-right-text span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  line-height: 32px;
}
.com-box-right-button a {
  font-weight: 600;
  font-size: 18px;
}

.how {
  height: 808px;
}
.how-box {
  height: 100%;
  display: flex;
  justify-content: center;
}
.how-box-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.how-box-left-text {
  width: 499px;
}
.how-box-left-text h1 {
  color: rgb(0, 0, 0);
  font-size: 64px;
  letter-spacing: -1px;
  margin-bottom: 35px;
}
.how-box-left-text span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  line-height: 36px;
}/*# sourceMappingURL=style.css.map */