* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "General Sans", sans-serif;
  font-weight: 500;
}

header {
  border-bottom: 1px solid rgba(184, 184, 184, 0.514);
  height: 88px;
  .central {
    height: 100%;
  }
  .navbar {
    height: 100%;
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      justify-content: center;
      a {
        img {
          width: 130px;
        }
      }
    }

    .links {
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 0;
        li {
          list-style-type: none;
          a {
            font-size: 16px;
            color: black;
          }
        }
      }
    }
    .nav-button {
      display: flex;
      justify-content: center;
      a {
        button {
          width: 133px;
          height: 52px;
          border-radius: 70px;
          background-color: #3461ff;
          border: 0px;
          color: white;

          line-height: 20px;
        }
      }
    }
  }
}

.hero-section {
  height: 850px;
  .box {
    height: 100%;
    margin-top: 84px;
    .inside-section {
      display: flex;

      .left-side {
        .mail-link {
          display: flex;
          gap: 0.5cm;
          button {
            background-color: #3461ff;
            width: 146px;
            height: 64px;
            border-radius: 70px;
            border: 0px;
            color: white;
            font-size: 18px;
            line-height: 20px;
          }
          .mail-input {
            input {
              width: 336px;
              height: 64px;
              border-radius: 37px;
              border: 1px solid #00000033;
            }
          }
        }

        margin-top: 12%;
        display: flex;
        flex-direction: column;
        h1 {
          font-weight: 600;
          font-size: 96px;
          line-height: 98.5px;
          letter-spacing: -4px;
          width: 90%;
          color: black;
        }
        span {
          font-size: 20px;
          line-height: 32px;
          color: rgba(0, 0, 0, 0.6);
        }
      }
      .right-side {
      }
    }
  }
}

.companies-box {
  background-color: #fafafa;
  height: 552px;
  .companies-text {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .companies {
    display: flex;
    flex-direction: column;
    .companies-list {
      width: 100%;
      ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
      }
    }
  }
}

.com{
  height:536px;
  margin-top:100px;
  &-box{
    &-left{
      display:flex;
      justify-content: space-evenly;

      &-one{
        
        
        h1{
          font-weight:600;
          font-size:64px;
          line-height: 86.4px;
          color:rgba(11, 11, 11, 1)
        }
        span{
          
          font-size:16px;
          line-height: 24px;
          color:rgba(0, 0, 0, 0.6)
        }
      }
      &-second{
        h1{
          font-weight:600;
          font-size:64px;
          line-height: 86.4px;
          color:rgba(11, 11, 11, 1)
        }
        span{
          font-weight:500;
          font-size:16px;
          line-height: 24px;
          color:rgba(0, 0, 0, 0.6)
        }
      }
    }
    &-right{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      &-text{
        width:576px;
        h1{
          font-size:64px;
          
          letter-spacing: -1px;
          color:rgba(0, 0, 0, 1);
        }
        span{
          color:rgba(0, 0, 0, 0.6);
          font-size:18px;
          line-height: 32px;
          
        }
      }
      &-button{
        
        a{
          font-weight: 600;
          font-size: 18px;
        }
      }
    }

  }
}

.how{
  height:808px;
  
  &-box{
    height:100%;
    display:flex;
    justify-content: center;
    &-left{
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      
      &-text{
        width:499px;
        
        
        h1{
          color:rgba(0, 0, 0, 1);
          font-size: 64px;
          letter-spacing: -1px;
          margin-bottom:35px;

        }
        span{
          color:rgba(0, 0, 0, 0.6);
          font-size: 18px;
          line-height: 36px;
        }
      }
    }
    &-right{
      ul{
        
      }
    }
  }
}